body
{
	background-image: url("https://i.pinimg.com/originals/30/8d/78/308d78d086ac6cf3deef9adcb8d76907.png");

	width: 50;
	height: 100;
}

	.login_div1 , .login_div2
	{
		background: rgb(43, 25, 143);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: rgb(0, 0, 0);
border-radius: 15px;
border-top: 15px solid #00000000;
padding: 15px;
float: none;
text-align: left;
}

